
/* Commune design ********************************************************************************************************/
*{
    margin: 0px;
    padding : 0px;
}

/* Variables */

:root{
--c-color-bg-intro :#4de1ff;
--c-color-bg-plan :  #001566;
--c-color-bg-declin : #74c48c;
--c-color-writting: rgb(255, 255, 255);

--f-font-title : "Bebas Neue", sans-serif;
--f-font-text : "TASA Orbiter", sans-serif;

--b-border : 2px white solid;
--b-border-radius30 : 30px


}


/* Fonts */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tasa-orbiter {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* Main Design *********************************************************************************************************/

body{
    overflow-x: hidden;
}



/* Section 1 *********************************************************/

#section1{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--c-color-bg-intro);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro__accroche{
    font-family:var(--f-font-text);
    color: var(--c-color-writting);
}

#intro__titre{
    font-family: var(--f-font-title);
    color: var(--c-color-writting);
    font-size: 15vh;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}

#intro__titre:hover {
    color: var(--c-color-bg-plan);
   
}

#intro__p{
    font-family: var(--f-font-text);
    color: var(--c-color-writting);
    margin-bottom: 10px;
}

#fleche{
    position: relative;
    top: 20px;
}




/* Section 2 **********************************************************/


#section2{
    min-height: 100vh;
    width: 100vw;
    background-image: url(assets/img/fonds2.png);
    background-size: cover;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#assemblage__texte{
    min-height : 51vh;
    width: 29.2vw;
    background-color: var(--c-color-bg-plan);
    border: #1c4dba 2px solid;
    margin-bottom: 8px;
    margin-left: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;

    color: var(--c-color-writting);
    
}

#assemblage__titre{
    font-family: var(--f-font-title);
}

#assemblage__descri{
    font-family: var(--f-font-text);
}

#assemblage__maquette{
    min-height: 600px;
    width: 249px;

    display: flex;
    justify-content: center;
    justify-content: center;
    background-image: url(assets/img/Prototype.svg);
    background-size: contain;
}

#assemblage__elements{
    min-height: 78.5vh;
    width: 31.5vw;
    background-color: var(--c-color-bg-plan);
    border: #1c4dba 2px solid;
    margin-right: 36px;
   margin-bottom: 8px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.element{
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
    
    position: absolute
}

#nez{
    min-height: 25px;
    width: 12px;
    background-image: url(assets/img/nez.svg);
    top: 35vh;
    right: 20vw;
}

#aileDroite{
    min-height: 112px;
    width:300px;
    background-image: url(assets/img/aileDroite.svg);
    top: 60vh;
    right: 15vh;
    rotate: 90deg;
}

#aileGauche{
    min-height: 300px;
    width: 112px;
    background-image: url(assets/img/aileGauche.svg);
    top: 13vh;
    right: 25vw;
}

#derive{
    min-height: 7px;
    width: 130px;
    background-image: url(assets/img/derive.svg);
    rotate: 90deg;
    top: 20vh;
    right: 12vw;
}

#moteurs{
    min-height: 135px;
    width: 25px;
    background-image: url(assets/img/moteurs.svg);
    top: 75vh;
    right:29vw;
    rotate: -90deg;
}

#queue{
    min-height: 31px;
    width: 165px;
    background-image: url(assets/img/queue.svg);
    top: 65vh;
    right: 25vw;
    rotate: -90deg;
}

#fuselage{
    min-height: 410px;
    width: 34px;
    background-image: url(assets/img/fuselage.svg);
    top: 13vh;
    right: 10vw;
}




/* Section 3 ***********************************************************/


#section3-4{
    min-height: 100vh;
    width: 200vw;
    display: flex;
    overflow: visible;
    position: relative;
}

#section3{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--c-color-bg-intro);

    display: flex;
    flex-direction: column;
    overflow: visible;
}

#terre__top{
    min-height: 50vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
}

.terre__altitude{
    min-height: 100%;
    width: 40%;
    display: flex;
    
    align-items: flex-start;
    margin: 10px;
}

.encadrement__altitude{
    border: solid white 2px;
    border-radius: var(--b-border-radius30);
    background-color: var(--c-color-bg-declin);

    padding: 20px 25px;
    margin-top: 20px;
    margin-left: 20px;
}

#titre__a{
    font-family: var(--f-font-title);
    color: var(--c-color-writting);
}

#altitude__a{
    font-family: var(--f-font-text);
    
    color: var(--c-color-writting);
}

.terre__nuage{
    min-height: 100%;
    width: 60%;

    display: flex;
    justify-content: space-around;

    z-index: 0;
}

.nuage {
  width: 200px;      
  min-height: auto;      
  object-fit: contain;
  display: block;
  z-index: 80;
  position: relative;
}

#nuageGauche{
    top: 26vh;
    left: -25vw;
    width: 11vw;
}

#nuageDroite{
    top: -1vh;
    left: -15vw;
    width: 17vw;
}

#terre__bottom{
    max-height: 50vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit:cover;
}

#Terre3D{
    min-height: 100%;
    width: 30%;

    margin-top: 50vh;
}

.infoTrajet{
    display: flex; 
    
    background-color: var(--c-color-bg-declin);
    font-family: var(--f-font-text);
    color: var(--c-color-writting);
    position:absolute;
    right: 20%;
    z-index: 50;
    padding: 5px 10px 5px 10px;
    border-radius: 30px 30px 30px 0px;
}

#new-york{
    background-image: url(assets/img/avion-dessin.png);
    top: 17%;
    right: 24% ;
}

.trajet__avion{
    min-height: 50px;
    width: 80px;
    z-index: 30;

    background-size: cover;
    position: relative;
}



/* Section 4 ***********************************************************/

#section4{
    min-height: 100vh;
    width: 100vw;
    background-color:var(--c-color-bg-declin);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.declin__diagramme{
    min-height: 100vh;
    width: 40%;
    overflow-y: visible;

    display: flex;
    justify-content: space-around;
}

.diagramme__barre{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#diagramme__barre1{
    min-height:80vh;
}

#diagramme__barre2{
    min-height: 50vh;
}

#diagramme__barre3{
    min-height: 20vh;
}

.barres{
    position: relative;
    /*top: 80vh;*/
}

#barre1{
    min-height: 80%;
    width: 100%;
    background-color: var(--c-color-bg-plan);
}

#barre2{
    min-height: 50%;
    width: 100%;
    background-color: var(--c-color-bg-intro);
}

#barre3{
    min-height: 15%;
    width: 100%;
    background-color: #fcfcd4;
}

.titre{
    min-height: 5vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--c-color-writting);
    font-family: var(--f-font-text);
    }

.declin__texte{
    min-height: 40vh;
    width: 40vw;
    margin-right: 50px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    
    color: var(--c-color-writting);
}

#declin__h1{
    font-family: var(--f-font-title);
}

#declin__p{
    font-family: var(--f-font-text);
}

/* Section 5 ***********************************************************/

#section5{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--c-color-bg-intro);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conclu__textes{
    display: flex;
    min-height: 10vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 20px;
}

#section5 .conclu__textes h2{
    font-family: var(--f-font-title);
    color: var(--c-color-writting);
    font-size:40px;
}

#section5 .conclu__textes p{
    font-family: var(--f-font-text);
    color: var(--c-color-writting);
}

#quizz{
    min-height: 80%;
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.cartesEmbarquement{
    min-height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carteRep{
    min-height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rep{
    min-height: 100%;
    width: 5vw;
    border: #e7fdff dashed 2px;
    border-radius: 0px  20px 20px 0px ;
}

.cartes{
    min-height: auto;
    width: 22vw;
}

.coupons{
    min-height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.petitCoupon{
    min-height: 100%;
    width: 5vw;
}

.felicitation{
    min-height: 10vh;
    width: 30vw;
    background-color: var(--c-color-bg-declin);
    border: var(--b-border);
    opacity: 0;
    position: relative;
    right: 20vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
}

#felicitation__titre{
    font-family: var(--f-font-title);
    color: var(--c-color-writting)
}

#felicitation__p{
    font-family: var(--f-font-text);
    color: var(--c-color-writting);
}


/* Mouvements ***********************************************************************************************************/

/*Classes pour JS*/

.valide{
    filter: drop-shadow(0 0 10px rgb(255, 255, 255)) ;
}

.up{
    animation: monter 2s ease-out forwards;
}


/* Responsive */

@media (max-width:800px){
    #section2{
        flex-direction: column;
    }
}
